<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=JetBrains+Mono:wght@400&display=swap"
        rel="stylesheet">

    <!-- MathJax Configuration -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
        content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ " /assets/main.css" | relative_url }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link type="application/atom+xml" rel="alternate" href="{{ " /feed.xml" | relative_url }}"
        title="{{ site.title | escape }}">
</head>

<body>

    <header class="site-header">
        <div class="wrapper">
            <a class="site-title" href="{{ " /" | relative_url }}">Aarush's Notes</a>
        </div>
    </header>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {% if page.layout == 'post' %}
            <article class="post">
                <header class="post-header">
                    <br>
                    <h1 class="post-title">{{ page.title | escape }}</h1>
                    <p class="post-meta">
                        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
                        {% if page.author %} • <span itemprop="author" itemscope
                            itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{
                                page.author }}</span></span>{% endif %}
                        • {{ page.categories | first }}
                    </p>
                </header>
                <div class="post-content">
                    {{ content }}
                </div>
            </article>
            {% else %}
            {{ content }}
            {% endif %}
        </div>
    </main>

    <footer class="site-footer">
        <div class="wrapper">
            <p style="border-top: 2px solid #000; padding-top: 1rem; margin-top: 4rem;">
                {{ site.title | escape }} • {{ site.time | date: '%Y' }}
            </p>
        </div>
    </footer>

</body>

</html>